<div class="main-container">
  <div class="top-container">
    <h1>calc</h1>
    <div>
      theme
    </div>
  </div>
  <div class="cont-display">
    <input
      type="text"
      id="myDisplay"
      name="myDisplay"
      [(ngModel)]="myDisplay"
      autofocus
    />
  </div>
  <div class="numbers-container">
    <button
      class="btn"
      (click)="handleClick($event)"
      #seven
      id="7"
      type="text"
      name="seven"
    >
      7
    </button>
    <button
      class="btn"
      (click)="handleClick($event)"
      #eight
      id="8"
      type="text"
      name="eight"
    >
      8
    </button>
    <button
      class="btn"
      (click)="handleClick($event)"
      #nine
      id="9"
      type="text"
      name="nine"
    >
      9
    </button>
    <button
      class="btn btn-del"
      (click)="reset_special()"
      #del
      id="del"
      type="text"
      name="del"
    >
      DEL
    </button>
    <button
      class="btn"
      (click)="handleClick($event)"
      #four
      id="4"
      type="text"
      name="four"
    >
      4
    </button>
    <button
      class="btn"
      (click)="handleClick($event)"
      #five
      id="5"
      type="text"
      name="five"
    >
      5
    </button>
    <button
      class="btn"
      (click)="handleClick($event)"
      #six
      id="6"
      type="text"
      name="six"
    >
      6
    </button>
    <button
      class="btn"
      (click)="handleClick($event)"
      #plus
      id="+"
      type="text"
      name="plus"
    >
      +
    </button>
    <button
      class="btn"
      (click)="handleClick($event)"
      #one
      id="1"
      type="text"
      name="one"
    >
      1
    </button>
    <button
      class="btn"
      (click)="handleClick($event)"
      #two
      id="2"
      type="text"
      name="two"
    >
      2
    </button>
    <button
      class="btn"
      (click)="handleClick($event)"
      #three
      id="3"
      type="text"
      name="three"
    >
      3
    </button>
    <button
      class="btn"
      (click)="handleClick($event)"
      #minus
      id="-"
      type="text"
      name="minus"
    >
      -
    </button>
    <button
      class="btn"
      (click)="handleClick($event)"
      #divide
      id="."
      type="text"
      name="dot"
    >
      .
    </button>
    <button
      class="btn"
      (click)="handleClick($event)"
      #zero
      id="0"
      type="text"
      name="zero"
    >
      0
    </button>

    <button
      class="btn"
      (click)="handleClick($event)"
      #divide
      id="/"
      type="text"
      name="divide"
    >
      /
    </button>
    <button
      class="btn"
      (click)="handleClick($event)"
      #multiplication
      id="*"
      type="text"
      name="multiplication"
    >
      *
    </button>

    <button
      class="btn btn-reset"
      (click)="reset_special()"
      #clear
      id="reset"
      type="text"
      name="reset"
    >
      RESET
    </button>
    <button
      class="btn btn-equals"
      (click)="calculate()"
      #equals
      id="="
      type="text"
      name="equals"
    >
      =
    </button>
  </div>
</div>
<h1>Result: {{ result }}</h1>
